<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gold-Gecko</title>
    <link rel="icon" href="img/paw-icon.png">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body id="top" class="landing-page">
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header navbar-right">
                <!--<?php
                if(isset($_SESSION['isAdmin'])) {
                    ?>
                    <a class="navbar-brand" href="referer.php?ref=connexion&id=1">Se déconnecter</a>
                    <?php
                }
                else{
                    ?>
                    <a class="navbar-brand" href="referer.php?ref=connexion">Se connecter/S'inscrire</a>
                <?php } ?>
				-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="index.php">Pattes-Orphelines</a></li>
                    <li><a href="referer.php?ref=achat">Boutique</a></li>
                    <li><a href="referer.php?ref=adopter">Animaux disponibles</a></li>
                    <!--<?php
                    if(isset($_SESSION['isAdmin'])) {
                        ?>
                        <li><a href="referer.php?ref=panier">panier</a></li>
                        <?php
                        if ($_SESSION['isAdmin'] == 1) {
                            ?>
                            <li><a href="administrateur.php">Administrateur</a>
                            </li>
                            <?php
                        }
                    }
                    ?> -->
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
        <li data-target="#inSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Animal trouvé?<br/>
                        Venez nous le porter!<br/>
                        Nous allons nous en <br/>
                        occuper. <br/></h1>
                </div>
            </div>
            <img src="img/banner-cat.jpg" alt="laptop"/>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Vous chercher un nouvel <br/> ami? </h1>
                    <p>Le refuge animal est
                        le meilleur endroit!</p>
                    <p><a class="btn btn-lg btn-primary" href="referer.php?ref=adopter" role="button">En savoir plus</a></p>
                </div>
            </div>
            <img src="img/banner-dog.jpg" alt=chien"/>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Nourriture fait maison! <br/></h1>
                    <p>Venez découvrir notre norriture maison.</p>
                    <p><a class="btn btn-lg btn-primary" href="referer.php?ref=achat" role="button">En savoir plus</a></p>
                </div>
            </div>
            <img src="img/banner-rat.jpg" alt=chien"/>
        </div>
    </div>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>


<section id="features" class="container services">
    <div class="row">
        <?php
        include('services.txt');
        ?>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
<?php include('equipes.txt')?>
</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <?php
                include('commentaire.txt');
                ?>
            </div>
        </div>
    </div>
</section>


<footer>
    <section id="contact" class="gray-section contact">
        <?php
            include('nousContacter.php');
        ?>
    </section>
</footer>


<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/plugins/wow/wow.min.js"></script>

<script>
    $(document).ready(function () {

    $('body').scrollspy({
    target: '.navbar-fixed-top',
    offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
    var link = $(this);
    $('html, body').stop().animate({
    scrollTop: $(link.attr('href')).offset().top - 50
    }, 500);
    event.preventDefault();
    $("#navbar").collapse('hide');
    });
    });

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
            header = document.querySelector( '.navbar-default' ),
            didScroll = false,
            changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>

</body>
</html>
